:root {
    --light: #faf8f8;
    --dark: #141021;
    --secondary: #537861;
    --tertiary: #308d53;
    --visited: #92b4c9;
    --primary: #f28482;
    --gray: #222222;
    --lightgray: #f0f0f0;
    --outlinegray: #cecece;
    --million-progress-bar-color: var(--secondary);
    --highlighted: #8446ff88;
    --header: #457548;
    --title: #355A37;
    --scrollbar: rgb(182, 191, 187);
    --scrollbar-track: #DDD;
}

[saved-theme="dark"] {
    --light: #1b1a1a !important;
    --dark: #f7f2fa !important;
    --secondary: #b8d5e7 !important;
    --visited: #d199ff !important;
    --tertiary: #97ceac !important;
    --primary: #f58382 !important;
    --gray: #d4d4d4 !important;
    --lightgray: #292633 !important;
    --outlinegray: #343434 !important;
    --highlighted: #574010;
    --header: #308d53;
    --title: rgb(255, 108, 196);
    --scrollbar: rgb(177, 177, 177);
    --scrollbar-track: rgb(51, 51, 51);
}