/* You can add custom styles here. */

// @import "plugins/numbered";

.markdown hr{
    border: var(--outlinegray);
    background: var(--outlinegray);
    // width: 50%;
    margin-inline-start: 0;
}
